<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="walker1">
      <!-- <ion-icon aria-hidden="true" name="triangle"></ion-icon> -->
      <img src="assets/tabs/tab5.svg" alt="">
      <ion-label class="color-pw">Reservas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="walker2">
      <!-- <ion-icon aria-hidden="true" name="calendar"></ion-icon> -->
      <img src="assets/tabs/tab6.svg" alt="">
      <ion-label class="color-pw">Disponibilidad</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="walker3">
      <!-- <ion-icon aria-hidden="true" name="square"></ion-icon> -->
      <img src="assets/tabs/tab2.svg" alt="">
      <ion-label class="color-pw">Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="walker4">
      <!-- <ion-icon aria-hidden="true" name="person"></ion-icon> -->
      <img src="assets/tabs/tab4.svg" alt="">
      <ion-label class="color-pw">Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
