<!-- <ion-header>
  <ion-toolbar>
    <ion-title>start</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="padding texce">

    <br>
    <br>
    <br>
    
    <img src="assets/woman.svg" alt="" id="woman">

    <br>
    <br>

    <h1 class="color-pw main-t">Miles de <br> paseadores ahora, <br> donde sea</h1>

    <div id="bottom-buttons">

      <button class="btn-pw1" routerLink="/login">Soy paseador</button>
      <button class="btn-pw2" routerLink="/login">Tengo un perro</button>
      

    </div>

  </div>

</ion-content>
