<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      create
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container> -->

  <div class="padding">
    
    <h5 class="color-pw wb" style="margin-bottom: 0;" (click)="nav.back()">
      <ion-icon src="assets/arrow-left.svg" style="position: relative; top: 3px; font-size: 20px;"></ion-icon>
    Mis perros</h5>


    <br>
    <br>

    <form class="form" [formGroup]="validations_form" (ngSubmit)="registrarPerro(validations_form.value)">

      <ion-row class="ion-no-padding">
        
        <ion-col>
          
          <label class="dog-select-image" id="holder_image_1">
            <input type="file" style="display: none;" id="image_1" (change)="fileChange($event)">
            <ion-icon class="color-pw" name="image-outline"></ion-icon>
          </label>

        </ion-col>

        <ion-col>
          
          <label class="dog-select-image" id="holder_image_2">
            <input type="file" style="display: none;" id="image_2" (change)="fileChange($event)">
            <ion-icon class="color-pw" name="image-outline"></ion-icon>
          </label>

        </ion-col>

        <ion-col>
          
          <label class="dog-select-image" id="holder_image_3">
            <input type="file" style="display: none;" id="image_3" (change)="fileChange($event)">
            <ion-icon class="color-pw" name="image-outline"></ion-icon>
          </label>

        </ion-col>

      </ion-row>

      <ion-item class="ion-no-padding" lines="none">
          <ion-label position="stacked"> <span class="control-label">Nombre</span> <br> <br> <br> </ion-label>
          <ion-input formControlName="name" type="text" ></ion-input>

        </ion-item>
          <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.name">
                    <div class="error-message" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>

      <ion-item class="ion-no-padding" lines="none">
          <ion-label position="stacked"> <span class="control-label">Raza</span> <br> <br> <br> </ion-label>
          <ion-select formControlName="race">
            <ion-select-option>Pitbull</ion-select-option>
            <ion-select-option>Pastor Aleman</ion-select-option>
            <ion-select-option>Puddle</ion-select-option>
            <ion-select-option>Mini Toys</ion-select-option>
            <ion-select-option>Beagle</ion-select-option>
            <ion-select-option>Kiba Inu</ion-select-option>
            <ion-select-option>Huski Siberiano</ion-select-option>
          </ion-select>
          <!-- <ion-input formControlName="phone" type="text" ></ion-input> -->

        </ion-item>
          <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.race">
                    <div class="error-message" *ngIf="validations_form.get('race').hasError(validation.type) && (validations_form.get('race').dirty || validations_form.get('race').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
      
      <ion-item class="ion-no-padding" lines="none">
        <ion-label position="stacked"> <span class="control-label">¿Qué tipo de perro tienes?</span> <br> <br> <br> </ion-label>
      </ion-item>

      <ion-radio-group formControlName="size">

      <ion-item class="ion-no-padding" lines="none" mode="md">
        <ion-radio value="1" slot="start"></ion-radio>
        <ion-label>Grandes (>10Kg) </ion-label>
      </ion-item>


      <ion-item class="ion-no-padding" lines="none" mode="md">
        <ion-radio value="2" slot="start"></ion-radio>
        <ion-label>Medianos (5 - 10Kg) </ion-label>
      </ion-item>


      <ion-item class="ion-no-padding" lines="none" mode="md">
        <ion-radio value="3" slot="start"></ion-radio>
        <ion-label>Pequeños (<5Kg) </ion-label>
      </ion-item>

      </ion-radio-group>

      <ion-item class="ion-no-padding" lines="none" mode="md">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>PPP (Perro potencialmente peligroso) </ion-label>
      </ion-item>
      
      <br>


      <ion-item class="ion-no-padding" lines="none">
        <ion-label position="stacked"> <span class="control-label">Cuéntanos un detalle que nos ayude a conocer a tu perro (opcional)</span> <br> <br> <br> </ion-label>
        <ion-textarea rows="4" formControlName="notes"></ion-textarea>
      </ion-item>

    </form>

  </div>
</ion-content>

<ion-footer>
  <div class="padding">
  <button class="btn-pw1" (click)="save()">Guardar</button>
  </div>

</ion-footer>
