<!-- <ion-header>
  <ion-toolbar>
    <ion-title>delete</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="padding" style="text-align: center; margin-top: 30%;">
    <img src="assets/confirm-walk.svg" id="delete-dog" alt="" style="left: 6%;">

    <br>
    <br>

    <b>¡Paseo reservado!</b> <br> <br>

    Recuerda estar puntual a la hora acordada.

    <br>

    <br>
    <br>

    <ion-row class="ion-no-margin">
      
      <ion-col>
        <button class="btn-pw1" [routerLink]="['/tabs/tab3']">Ver paseo</button>
      </ion-col>
      <ion-col>
        <button class="btn-pw3" [routerLink]="['../../']">Ir al chat</button>
      </ion-col>

    </ion-row>
  </div>

</ion-content>
