<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container> -->

  <div class="padding">
    
    <h5 class="color-pw wb" style="margin-bottom: 0;">Buscar paseadores</h5>

    <ion-item class="ion-no-padding" lines="none">
      <ion-label position="stacked"> <span class="control-label">Selecciona qué perro/s quieres pasear</span> <br> <br> <br> </ion-label>
    </ion-item>

    <ion-item class="ion-no-padding" lines="none" mode="md">
      <ion-checkbox color="secondary" slot="start"></ion-checkbox>
      <ion-label>Chester </ion-label>
    </ion-item>


    <ion-item class="ion-no-padding" lines="none" mode="md">
      <ion-checkbox color="secondary" slot="start"></ion-checkbox>
      <ion-label>Gus </ion-label>
    </ion-item>


    <ion-item class="ion-no-padding" lines="none" mode="md">
      <ion-checkbox color="secondary" slot="start"></ion-checkbox>
      <ion-label>Milú </ion-label>
    </ion-item>

    <ion-item>
      
      <div style="padding: 8px 0; font-size: 18px;" slot="start">
        <span [routerLink]="['/dogs/create']" class="color-pw wb link"><ion-icon src="assets/add_circle.svg" style="position: relative; top: 4px; font-size: 22px; padding-right: 12px;"></ion-icon>Añadir nuevo perro</span>
      </div>

    </ion-item>


    <!-- <form class="form" [formGroup]="validations_form" (ngSubmit)="registrarPaseo(validations_form.value)">
      
      <ion-list>

          <ion-item class="ion-no-padding" lines="none">
            <ion-label position="stacked"> <span class="control-label">¿Dónde necesitas que recojan a tu perro?</span> <br> <br> <br> </ion-label>
            <ion-input formControlName="address" type="text" ></ion-input>

          </ion-item>
            <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.address">
                      <div class="error-message" *ngIf="validations_form.get('address').hasError(validation.type) && (validations_form.get('address').dirty || validations_form.get('address').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>

          <ion-item lines="none">
            
            <div style="padding: 8px 0; font-size: 18px;" slot="start">
              <span class="color-pw wb"><ion-icon name="locate" style="position: relative; top: 2px;"></ion-icon> &nbsp;&nbsp; Utilizar ubicación actual</span>
            </div>

            <ion-icon [routerLink]="['map']" slot="end" name="chevron-forward-outline"></ion-icon>

          </ion-item>

          <br>

          <div class="line"></div>

          <br>

          <div style="padding: 8px 0; font-size: 18px;">
            <span class="color-pw link"> Hoy 17:00 - 19:00 
              <small class="wb link" slot="end" style="float: right; position: relative; top: 6px;">1 perro</small>
            </span>
          </div>

          <br>

          <div class="line"></div>

          <br>

          <ion-item class="ion-no-padding" lines="none">
            <ion-label position="stacked"> <span class="control-label">¿Qué tipo de perro tienes?</span> <br> <br> <br> </ion-label>
          </ion-item>

          <ion-item class="ion-no-padding" lines="none" mode="ios">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Grandes (>10Kg) </ion-label>
          </ion-item>


          <ion-item class="ion-no-padding" lines="none" mode="ios">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Medianos (5 - 10Kg) </ion-label>
          </ion-item>


          <ion-item class="ion-no-padding" lines="none" mode="ios">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Pequeños (<5Kg) </ion-label>
          </ion-item>

          <ion-item class="ion-no-padding" lines="none" mode="ios">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>PPP (Perro potencialmente peligroso) </ion-label>
          </ion-item>

          

          <ion-item class="ion-no-padding" lines="none">
            <ion-label position="stacked"> <span class="control-label">Teléfono</span> <br> <br> <br> </ion-label>
            <ion-input formControlName="phone" type="text" ></ion-input>

          </ion-item>
            <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.phone">
                      <div class="error-message" *ngIf="validations_form.get('phone').hasError(validation.type) && (validations_form.get('phone').dirty || validations_form.get('phone').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>

          <div style="padding: 8px 0; color: gray; font-size: 16px;">
            Sólo lo verán quienes reserven un paseo
          </div>

          <ion-item class="ion-no-padding" lines="none">
            <ion-label position="stacked"> <span class="control-label">Solicitar foto cada</span> <br> <br> <br> </ion-label>
            <ion-select formControlName="photo">
              <ion-select-option>5 minutos</ion-select-option>
              <ion-select-option>15 minutos</ion-select-option>
              <ion-select-option>30 minutos</ion-select-option>
              <ion-select-option>45 minutos</ion-select-option>
              <ion-select-option>60 minutos</ion-select-option>
            </ion-select>

          </ion-item>
            <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.photo">
                      <div class="error-message" *ngIf="validations_form.get('photo').hasError(validation.type) && (validations_form.get('photo').dirty || validations_form.get('photo').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>

          <ion-item class="ion-no-padding" lines="none">
            <ion-label position="stacked"> <span class="control-label">¿Quieres añadir algo más sobre tu paseo?</span> <br> <br> <br> </ion-label>
            <ion-textarea rows="4" formControlName="notes" placeholder="¿Tienes flexibilidad sobre el lugar y el momento de recogida? ¿Necesitas desplazarte en coche? Mantén informados a los dueños"></ion-textarea>

          </ion-item>
            
          <br>

          <button class="btn-pw1" routerLink="/tabs">Siguiente</button>

          <br>

      </ion-list>

    </form> -->

  </div>
</ion-content>

<ion-footer>
  <div class="padding">
  <button class="btn-pw1" (click)="next()">Guardar</button>
  </div>

</ion-footer>
