<!-- <ion-header>
  <ion-toolbar>
    <ion-title>delete</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="padding" style="text-align: center; margin-top: 40%;">
    <img src="assets/walking-dog.svg" id="delete-dog" alt="" style="left: 7%;">

    <br>
    <br>

    Aún no hay paseadores. <br> <br>

    <br>

    <ion-row class="ion-no-margin">
      
      <ion-col size="12">
        <button class="btn-pw1" (click)="nav.back()">Guardar alerta</button>
      </ion-col>
      <ion-col size="12">
        <button class="btn-pw3" (click)="delete()">Cancelar</button>
      </ion-col>

    </ion-row>
  </div>

</ion-content>
