.selector-box {
	padding: 12px;
	width: 50px;
	height: 50px;
	border-radius: 6px;
	position: relative;
	margin: auto;
	margin-bottom: 8px;
	box-shadow: 0 0 5px silver;
}
.selected-box {
	background-color: rgba(64, 96, 96, 1);
}

.text {
	font-weight: bolder;
	color: silver;	
}
.selected-text {
	font-weight: bolder;
	color: rgba(64, 96, 96, 1);
}

.walkers-box {

	background-color: #fff;
	box-shadow: 0 0 10px silver;
	padding: 16px 20px;
	border-radius: 8px;

	margin-bottom: 20px;
}

.profile-pic {
	width: 40px;
	height: 40px;
}

.mid-section {
	margin-top: 12px;
	span {
		color: #444;
		font-size: 13px;
		display: block;
		margin-bottom: 12px;
	}
	ion-icon {
		color: rgba(64, 96, 96, 1);
		font-size: 18px;
		position: relative;
		top: 3px;
		font-weight: bolder;
	}
}

[name="timer-outline"] {
	color: orange !important;
}

ion-item {
	--background: #fff;
}