<!-- <ion-header>
  <ion-toolbar>
    <ion-title>changepassword</ion-title>
  </ion-toolbar>
</ion-header>
 -->
<ion-content>

  <div class="padding">

    <h5 class="color-pw wb" style="margin-bottom: 0;" (click)="nav.back()">
      <ion-icon name="arrow-back" style="position: relative; top: 2px;"></ion-icon>
      Opiniones</h5>

    <br>

    <ion-list>
      
      <ion-item style="padding-top: 16px;">

        <div slot="start" style="position: absolute; height: 100%; padding-top: 4px;">
          <div class="profile-pic" style="background-image: url(assets/chat/1.jpg);"></div>
        </div>

        <div style="margin-left: 50px;">
          <small>Tu paseador fue</small> <br>

          <b style="color: rgba(37, 43, 66, 1)">Annete Black
            <small style="float: right;">
              <div>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
              </div>
            </small></b> <br> <br>
          <small>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nihil rem architecto repellendus adipisci cum ex praesentium fugit veniam sunt cupiditate, porro aperiam molestiae eveniet qui repellat itaque dolorem vitae.
          </small> <br>

          <small style="float: right">1/31/14</small>

          <br>
        </div>

      </ion-item>


      <ion-item style="padding-top: 16px;">

        <div slot="start" style="position: absolute; height: 100%; padding-top: 4px;">
          <div class="profile-pic" style="background-image: url(assets/chat/3.jpg);"></div>
        </div>

        <div style="margin-left: 50px;">
          <small>Tu paseador fue</small> <br>

          <b style="color: rgba(37, 43, 66, 1)">Jane Cooper
            <small style="float: right;">
              <div>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
              </div>
            </small></b> <br> <br>
          <small>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nihil rem architecto repellendus adipisci cum ex praesentium fugit veniam sunt cupiditate, porro aperiam molestiae eveniet qui repellat itaque dolorem vitae.
          </small> <br>

          <small style="float: right">1/31/14</small>

          <br>
        </div>

      </ion-item>


      <ion-item style="padding-top: 16px;">

        <div slot="start" style="position: absolute; height: 100%; padding-top: 4px;">
          <div class="profile-pic" style="background-image: url(assets/chat/2.jpg);"></div>
        </div>

        <div style="margin-left: 50px;">
          <small>Tu paseador fue</small> <br>

          <b style="color: rgba(37, 43, 66, 1)">Eleanor Pena
            <small style="float: right;">
              <div>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
              </div>
            </small></b> <br> <br>
          <small>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nihil rem architecto repellendus adipisci cum ex praesentium fugit veniam sunt cupiditate, porro aperiam molestiae eveniet qui repellat itaque dolorem vitae.
          </small> <br>

          <small style="float: right">1/31/14</small>

          <br>
        </div>

      </ion-item>

    </ion-list>
    
  </div>

</ion-content>

