<!-- <ion-header>
  <ion-toolbar>
    <ion-title>changepassword</ion-title>
  </ion-toolbar>
</ion-header>
 -->
<ion-content>

  <div class="padding">

    <h5 class="color-pw wb" style="margin-bottom: 0;" (click)="nav.back()">
      <ion-icon src="assets/arrow-left.svg" style="position: relative; top: 3px; font-size: 20px;"></ion-icon>
      Cambiar contraseña</h5>

    <br>
    <br>

    <form class="form" [formGroup]="validations_form" (ngSubmit)="changePassword(validations_form.value)">
      
      <ion-list>

        <ion-item class="ion-no-padding" no-lines>
          <ion-label position="stacked"> <span class="control-label">Contraseña actual</span> <br> <br> <br> </ion-label>
          <ion-input formControlName="actual_password" type="password" ></ion-input>

        </ion-item>
          <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.actual_password">
                    <div class="error-message" *ngIf="validations_form.get('actual_password').hasError(validation.type) && (validations_form.get('actual_password').dirty || validations_form.get('actual_password').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>

        <ion-item class="ion-no-padding" no-lines>
          <ion-label position="stacked"> <span class="control-label">Nueva contraseña</span> <br> <br> <br> </ion-label>
          <ion-input formControlName="password" type="password" ></ion-input>

        </ion-item>
          <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.password">
                    <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>

        <ion-item class="ion-no-padding" no-lines>
          <ion-label position="stacked"> <span class="control-label">Repetir contraseña</span> <br> <br> <br> </ion-label>
          <ion-input formControlName="repeat_password" type="password" ></ion-input>

        </ion-item>
          <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.repeat_password">
                    <div class="error-message" *ngIf="validations_form.get('repeat_password').hasError(validation.type) && (validations_form.get('repeat_password').dirty || validations_form.get('repeat_password').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>

        <div style="padding: 8px 0; color: gray; font-size: 16px;">
          Debe tener más de 7 caracteres y un número
        </div>

      </ion-list>

    </form>
    
  </div>

</ion-content>

<ion-footer>

  <div class="padding">
    <button class="btn-pw1" [disabled]="!validations_form.valid" (click)="change(validations_form.value)">Guardar</button>
  </div>

</ion-footer>

