.profile-pic {
	width: 40px;
	height: 40px;
}

.message-holder {
	&:after {
		content: " ";
		clear: both;
		display: block;
	}
}

ion-header {
	border-bottom: 1px solid rgba(189, 189, 189, 1);
	&::after {
		background: none !important;
	}
}

.right-bubble {
	position: relative;
	float: right;
	display: block;
	border-radius: 16px 16px 0 16px;
	background-color: rgba(235, 235, 235, 1);
	color: #000;
	padding: 8px;
	margin-bottom: 16px;

	img {
		width: 80%;
	}
}

.left-bubble {
	position: relative;
	float: left;
	display: block;
	.message{
		float: left;
		border-radius: 16px 16px 16px 0;
		background-color: #fff;
		box-shadow: 0 0 5px silver;
		color: #000;
		padding: 8px;
		margin-bottom: 16px;
		max-width: calc(100% - 42px);
	}

	.chat-pic-2 {
	  float: left;
	  width: 30px;
	  height: 30px;
	  background-size: cover;
	  background-position: center;
	  border-radius: 30px;
	  position: relative;
	  margin-right: 12px;
	  top: 4px;
	}

	img {
		width: 80%;
	}
}

.chat-picture {
	width: 100px;
	height: 100px;
	background-size: cover;
	background-position: center;
}

.hour-sent {
	display: block;
	text-align: right;
	font-size: 11px;
	color: gray;
	margin-top: 8px;
}

.alert-pw {
	// background-color: rgba(82, 151, 137, 1);
	padding: 4px;
	margin-bottom: 16px;
	.alert-msg {
		color: #fff;
		font-weight: 100;
		// padding: 20px;
	}
	.alert-img {
		padding: 20px 0 20px 20px;
		margin-right: 20px;
		img {
			position: relative;
			top: 2px;
		}
	}
	ion-item {
		--background: rgba(82, 151, 137, 1);
		--border-color: rgba(82, 151, 137, 1);
		border-radius: 8px;
	}
}

.no-pb {
	padding-bottom: 0 !important;
}